{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_title %}
    <i class="fontello-icon-lock"></i>{% trans from "titles" %}Authentication{% endtrans %}
{% endblock fos_user_title %}

{% block fos_user_content %}
    <div class="col-md-6 col-md-offset-3">
        <form action="{{ path("fos_user_security_check") }}" method="post"class="form-horizontal">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <label for="username" class="col-sm-4 control-label">{{ 'security.login.username'|trans }}</label>
                <div class="col-sm-6">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">{{ 'security.login.password'|trans }}</label>
                <div class="col-sm-6">
                    <input type="password" id="password" name="_password" required="required" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                    <button type="submit" id="_submit" name="_submit" class="btn btn-primary">
                        <i class="fontello-icon-login"></i>{{ 'security.login.submit'|trans }}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock fos_user_content %}
