<tr id="row-test-instance-{{ testInstance.id }}" data-position="{{ position }}">
    <td id="cell-test-instance-{{ testInstance.id }}-order">
        {{ testInstance.order }}
    </td>
    <td id="cell-test-instance-{{ testInstance.id }}-test-name">
        {{ testInstance.test }}
    </td>
    <td id="cell-test-instance-{{ testInstance.id }}-status">
        {% set lastRun = testInstance.lastRun %}
        {% if lastRun and lastRun.status %}
            {{ lastRun.status.html|raw }}
        {% endif %}
    </td>
    <td id="cell-test-instance-{{ testInstance.id }}-last-runned">
        {% if lastRun and lastRun.status %}
            {{ lastRun.createdAt|ago }}
        {% endif %}
    </td>
    {% if showActions %}
        <td id="cell-test-instance-{{ testInstance.id }}-actions">
            {#<a href="#" id="details-test-instance-{{ testInstance.id }}"
               data-id="{{ testInstance.id }}" 
               data-order="{{ testInstance.order }}"
               data-test-name="{{ testInstance.test.name }}"
               data-test-description="{{ testInstance.test.description }}"
               data-toggle="tooltip" data-placement="right" title="Details">
                <i class="fontello-icon-info-circled"></i></a>#}
            <a href="#" id="delete-test-instance-{{ testInstance.id }}"
               data-id="{{ testInstance.id }}" 
               data-order="{{ testInstance.order }}"
               data-test-name="{{ testInstance.test }}"
               data-toggle="tooltip" data-placement="right" title="Delete">
                <i class="fontello-icon-minus-circled"></i></a>
        </td>
    {% endif %}
</tr>