<div class="col-md-1">
    <a href="#"
       id="delete-control-step-{{ controlStep.id }}"
       class="text-danger"
       data-id="{{ controlStep.id }}"
       data-order="{{ controlStep.order }}"
       data-step-id="{{ controlStep.parentStep.id }}"
       data-step-order="{{ controlStep.parentStep.order }}"
       data-toggle="tooltip" data-placement="bottom" title="Delete">
        <i class="fontello-icon-trash"></i>
    </a>
</div>
<div class="col-md-1">
    <span class="badge">
        <span id="control-step-order-{{ controlStep.id }}">{{ controlStep.order }}</span>
    </span>
</div>
<div class="col-md-9">
    {% set sentence = controlStep.sentence(locale) %}
    <h5>{% if sentence %}{{ sentence|raw }}{% else %}{{ controlStep }}{% endif %}</h5>
</div>
<div class="col-md-1">
    <a href="#"
       id="edit-control-step-{{ controlStep.id }}"
       data-id="{{ controlStep.id }}"
       data-step-id="{{ controlStep.parentStep.id }}"
       data-toggle="tooltip" data-placement="bottom" title="Edit">
        <i class="fontello-icon-edit"></i>
    </a>
</div>