{% set testInstance = testRun.testInstance %}
<tr id="row-test-run-{{ testRun.id }}">
    <td id="cell-test-run-{{ testRun.id }}-order" class="text-center">
        {{ testInstance.order }}
    </td>
    <td id="cell-test-run-{{ testRun.id }}-test-name">
        {{ testInstance.test }}
    </td>
    <td id="cell-test-run-{{ testRun.id }}-status" class="text-center">
        {% if testRun.status %}
            {{ testRun.status.html|raw }}
        {% endif %}
    </td>
</tr>