{% set error = error|default(false) %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ART Manager{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('built/min.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include "::navbar.html.twig" %}
        {% include "::sidebar.html.twig" %}
        
        <div class="jumbotron container">
            <h1 class="text-center">
                {% block jumbotronTitle %}{% endblock %}
            </h1>
            <h3 class="text-center">
                {% block jumbotronSubtitle %}{% endblock %}
            </h3>
            {% block jumbotronBody %}{% endblock %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row text-center">
                        <ol class="breadcrumb">
                            {% block breadcrumb_items %}{% endblock %}
                        </ol>
                    </div>
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block modals %}{% endblock %}
        {% include "::footer.html.twig" %}
        {% block javascripts %}
            <script src="{{ asset('built/app.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $("body").vegas({
                        slides: [
                            { src: "{{ asset('images/vegas/backgrounds/background-satellites.png') }}" }
                        ]
                    });
                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            {% if type == 'error' %}
                                Base.showErrorMessage("{{ message|trans({}, 'FOSUserBundle') }}");
                            {% endif %}
                            {% if type == 'info' %}
                                Base.showInfoMessage("{{ message|trans({}, 'FOSUserBundle') }}");
                            {% endif %}
                            {% if type == 'success' %}
                                Base.showSuccessMessage("{{ message|trans({}, 'FOSUserBundle') }}");
                            {% endif %}    
                        {% endfor %}
                    {% endfor %}
                    {% if error %}
                        Base.showErrorMessage("{{ error|trans({}, 'FOSUserBundle') }}");
                    {% endif %}
                });
            </script>
        {% endblock %}
    </body>
</html>
