{% trans_default_domain "navbar" %}
{% set page_ = page_|default('') %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}" rel="home" title="Automate your Regression Tests">
                <i class="fontello-icon-ok"></i><strong>ART</strong> Manager
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if page_ != "" %}
                    <li {% if page_ == "homepage" %}class="active"{% endif %}>
                        <a href="{{ path('homepage') }}"><i class="fontello-icon-home"></i>{% trans %}Home{% endtrans %}</a>
                    </li>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="dropdown {% if page_ == "configuration" %}active{% endif %}">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="fontello-icon-wrench"></i>{% trans %}Configuration{% endtrans %} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('app_configuration_servers') }}">
                                        <i class="fontello-icon-desktop"></i> Server Management</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_configuration_execution_servers') }}">
                                        <i class="fontello-icon-gauge"></i> Execution Server Management</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('sonata_admin_redirect') }}" target="about:blank"><i class="fontello-icon-lock"></i>{% trans %}Backend{% endtrans %}</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <p class="navbar-text navbar-right">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        <i class="fontello-icon-logout"></i>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                </p>
            {% endif %}
        </div>
    </div>
</nav>
