<h3 class="text-center">
    <span class="label label-{{ context }}">
        <i class="fontello-icon-{{ icon }}"></i>{{ title }} <span class="badge">{{ count }}</span>
    </span>
</h3>
{% for applicationId, applicationTestSets in testSetRunsByApplicationTestSet %}
    {% include "AppMainBundle:test-set:run/section.item.html.twig"
        with {
            'application': applicationTestSets.application,
            'testSets': applicationTestSets.testSets,
            'context': context
        } 
    %}
{% else %}
    <h3 class="text-center">There is no {{ title|lower }} test set run</h3>
{% endfor %}