<div class="panel panel-{{ context }}">
    <div class="panel-heading">
        <i class="fontello-icon-cog"></i>{{ application.project }}
        <i class="fontello-icon-right-open"></i>
        <i class="fontello-icon-leaf"></i>{{ application }}
    </div>
    <div class="list-group">
        <div class="list-group-item">
            {% for testSetId, testSetTestSetRuns in testSets %}
                <p class="list-group-item-heading">
                    <a href="{{ path('app_index_application_test_set_editor', { 'id': testSetId }) }}">
                        <strong>
                            <i class="fontello-icon-beaker"></i>{{ testSetTestSetRuns.testSet }}
                        </strong>
                    </a>
                </p>
                <p class="list-group-item-text">
                    <ul class="list-group">
                        {% for testSetRun in testSetTestSetRuns.testSetRuns %}
                            <li class="list-group-item">
                                Requested {{ testSetRun.createdAt|ago }}
                                {% if testSetRun.user %}
                                    by
                                    <strong>
                                        {% if testSetRun.user == app.user %}you{% else %}{{ testSetRun.user.username }}{% endif %}
                                    </strong>
                                {% endif %}
                                {% if testSetRun.status %}
                                    <span class="pull-right">
                                        {{ testSetRun.status.html|raw }}
                                    </span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% endfor %}
        </div>
    </div>
</div>