{% set context = 'mygreen' %}
<div class="col-md-8">
    <div class="panel panel-{{ context }}" id="panel-test-sets-{{ application.id }}">
        <div class="panel-heading">
            <strong>
                <i class="fontello-icon-database"></i> Test Lab
            </strong>
        </div>
        <div class="panel-body" id="panel-body-{{ application.id }}">
            <p>
                <span id="test-set-folders-count">
                    {% if application.testSetFoldersCount <= 1 %}There is {% else %}There are{% endif %}
                    {% if application.testSetFoldersCount == 0 %}no {% else %}<span class="badge">{{ application.testSetFoldersCount }}</span>{% endif %}
                    folder{% if application.testSetFoldersCount > 1 %}s{% endif %}
                </span>
                <span class="pull-right">
                    <a href="#" id="add-test-set-folder"
                       data-toggle="tooltip" data-placement="left" title="Add a new folder">
                        <i class="fontello-icon-plus-circled"></i><i class="fontello-icon-folder"></i>
                    </a>
                </span>
            </p>
            <p>
                <span id="test-sets-count">
                    {% if application.testSetsCount <= 1 %}There is {% else %}There are{% endif %}
                    {% if application.testSetsCount == 0 %}no {% else %}<span class="badge">{{ application.testSetsCount }}</span>{% endif %}
                    test set{% if application.testSetsCount > 1 %}s{% endif %}
                </span>
                <span class="pull-right">
                    <a href="#" id="add-test-set"
                       data-test-set-folder-id=""
                       data-test-set-folder-name=""
                       data-test-set-folder-description=""
                       data-toggle="tooltip" data-placement="left" title="Add a new test set">
                        <i class="fontello-icon-plus-circled"></i><i class="fontello-icon-beaker"></i>
                    </a>
                </span>
            </p>
            <div class="text-center">
                <div id="tree-test-sets-{{ application.id }}-loader" class="three-quarters-loader"></div>
            </div>
            <div id="tree-test-sets-{{ application.id }}"></div>
            <p>
                <a href="#" id="delete-checked-test-set-entities" class="btn btn-danger disabled" data-application-id="{{ application.id }}">
                    <span class="badge" id="checked-entities-count">0</span> <i class="fontello-icon-trash"></i>
                </a>
            </p>
        </div>
    </div>
</div>