{% set context = context|default("custom-blue") %}

<div class=" col-md-6">
    <div class="panel panel-{{ context }}" id="panel-project-{{ project.id }}">
        <div class="panel-heading">
            <i class="fontello-icon-cog"></i><strong>{{ project.name }}</strong>
            <span class="pull-right">
                <a href="{{ path('app_index_project', { 'id': project.id }) }}"
                   class="btn btn-xs btn-primary"
                   id="open-project-{{ project.id }}">
                   <i class="fontello-icon-folder-open"></i></a>
                <a href="#" id="delete-project-{{ project.id }}"
                   class="btn btn-xs btn-danger"
                   data-id="{{ project.id }}"
                   data-name="{{ project.name }}">
                   <i class="fontello-icon-trash"></i></a>
            </span>
        </div>
        <div class="panel-body" id="panel-body-{{ project.id }}">
            {% if project.description %}
                <blockquote>
                    <p><small>{{ project.description }}</small></p>
                </blockquote>
            {% endif %}
            <p>
                <span id="application-count-{{ project.id }}">
                    {% if project.applications|length <= 1 %}There is {% else %}There are{% endif %}
                    {% if project.applications|length == 0 %}no {% else %}<span class="badge">{{ project.applications|length }}</span>{% endif %}
                    application{% if project.applications|length > 1 %}s{% endif %} in the project
                </span>
                <span class="pull-right">
                    <a href="#" id="add-application-{{ project.id }}"
                       class="btn btn-xs btn-custom-green"
                       data-project-id="{{ project.id }}"
                       data-project-name="{{ project.name }}"
                       data-project-description="{{ project.description }}"
                       data-toggle="tooltip" data-placement="left" title="Add a new application">
                        Create <i class="fontello-icon-leaf"></i>
                    </a>
                </span>
            </p>
            {% include "AppMainBundle:application:list.html.twig" with { 'project' : project } %}
        </div>
        <div class="panel-footer text-right">
            <i class="fontello-icon-calendar"></i> Created {{ project.createdAt|ago }}
        </div>
    </div>
</div>