<div class="row step" id="step-row-{{ step.id }}">
    <div class="col-md-6 step-left">
        <div class="col-md-1">
            <a href="#"
               id="delete-execute-step-{{ step.id }}"
               data-id="{{ step.id }}"
               data-name="{{ step.name }}"
               data-order="{{ step.order }}"
               data-test-id="{{ step.test.id }}">
                <i class="fontello-icon-minus-circled"></i>
            </a>
        </div>
        <div class="col-md-1">
            <p class="step-order"><strong><span id="step-order-{{ step.id }}">{{ step.order }}</span></strong></p>
        </div>
        <div class="col-md-10">
            {% include 'AppMainBundle:test:step/execute/line.html.twig' with { 'step': step } %}
        </div>
    </div>
    <div class="col-md-6 bg-success">
        {% include 'AppMainBundle:test:step/control/list.html.twig' %}
    </div>
</div>