{% set test = step.test|default(step.businessStep) %}
<div class="col-md-1">
    <a href="#"
       id="delete-execute-step-{{ step.id }}"
       class="text-danger"
       data-id="{{ step.id }}"
       data-order="{{ step.order }}"
       data-test-id="{{ test.id }}"
       data-toggle="tooltip" data-placement="bottom" title="Delete">
        <i class="fontello-icon-trash"></i>
    </a>
</div>
<div class="col-md-1">
    <span class="badge">
        <span id="step-order-{{ step.id }}">{{ step.order }}</span>
    </span>
</div>
<div class="col-md-9">
    {% set sentence = step.sentence(locale) %}
    <h5>{% if sentence %}{{ sentence|raw }}{% else %}{{ step }}{% endif %}</h5>
</div>
<div class="col-md-1">
    <a href="#"
       id="edit-execute-step-{{ step.id }}"
       data-id="{{ step.id }}"
       data-test-id="{{ test.id }}"
       data-toggle="tooltip" data-placement="bottom" title="Edit">
        <i class="fontello-icon-edit"></i>
    </a>
</div>
               