<li id="item-prerequisite-{{ prerequisite.id }}">
    <br>
    <span>
        <span class="badge" id="prerequisite-order-{{ prerequisite.id }}">{{ prerequisite.order }}</span>
        {{ prerequisite.test }}
    </span>
    <a href="#" id="delete-prerequisite-{{ prerequisite.id }}"
       class="text-danger"
       data-id="{{ prerequisite.id }}"
       data-name="{{ prerequisite.test }}"
       data-toggle="tooltip" data-placement="right" title="Delete">
        <i class="fontello-icon-trash"></i>
    </a>
</li>