{% extends 'base.html.twig' %}
{% set page_ = "test-planner" %}

{% block jumbotronTitle %}
    <span class="text-mypurple">
        <i class="fontello-icon-tasks"></i><strong>Scenario</strong> Plan
    </span>
{% endblock %}

{% block jumbotronBody %}
    <p class="text-center">
        <a href="{{ path('app_index_application', { 'id': application.id }) }}">
            <i class="fontello-icon-left-circled"></i>Return to <strong>{{ application.name }}</strong> application
        </a>
    </p>
{% endblock %}

{% block breadcrumb_items %}
    <li>
        <a href="{{ path('homepage') }}"><i class="fontello-icon-right-open"></i>Home</a>
    </li>
    <li>
        <a href="{{ path('app_index_project', { 'id': application.project.id }) }}">
            <i class="fontello-icon-right-open"></i>{{ application.project }}</a>
    </li>
    <li>
        <a href="{{ path('app_index_application', { 'id': application.id }) }}">
            <i class="fontello-icon-right-open"></i>{{ application }}</a>
    </li>
    <li class="active">
        <i class="fontello-icon-angle-circled-right"></i>Scenario Plan
    </li>
{% endblock %}

{% block body %}
    {% include 'AppMainBundle:test:planner/tree.html.twig' with { 'application': application } %}
    {% include 'AppMainBundle:test:planner/entity-properties.html.twig' %}
{% endblock %}

{% block modals %}
    {% include 'AppMainBundle:test:folder/new.form.html.twig' %}
    {% include 'AppMainBundle:test:new.form.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            TestPlanner.init();
            TestPlanner.initEditableData({{ application.id }});
            TestFolderManager.init();
            TestManager.init();
            TestPlanner.refresh({{ application.id }}, true, true);
        });
    </script>
{% endblock %}