{% extends 'base.html.twig' %}
{% set page_ = "test-editor" %}
{% set context = "custom-red" %}

{% block jumbotronTitle %}
    <span class="text-{{ context }}">
        <i class="fontello-icon-ellipsis-vert"></i><strong>Scenario</strong> Editor
    </span>
{% endblock %}

{% set application = test.testFolder.rootApplication %}

{% block jumbotronBody %}
    <p class="text-center">
        <a href="{{ path('app_index_application_test_planner', { 'id': application.id }) }}">
            <i class="fontello-icon-left-circled"></i>Return to <strong>{{ application.name }}</strong> Scenario Plan
        </a>
    </p>
{% endblock %}

{% block breadcrumb_items %}
    <li>
        <a href="{{ path('homepage') }}"><i class="fontello-icon-right-open"></i>Home</a>
    </li>
    <li>
        <a href="{{ path('app_index_project', { 'id': application.project.id }) }}">
            <i class="fontello-icon-right-open"></i>{{ application.project }}</a>
    </li>
    <li>
        <a href="{{ path('app_index_application', { 'id': application.id }) }}">
            <i class="fontello-icon-right-open"></i>{{ application }}</a>
    </li>
    <li>
        <a href="{{ path('app_index_application_test_planner', { 'id': application.id }) }}">
            <i class="fontello-icon-right-open"></i>Scenario Plan</a>
    </li>
    <li class="active">
        <i class="fontello-icon-angle-circled-right"></i>{{ test }}
    </li>
{% endblock %}

{% block body %}
    {% include 'AppMainBundle:test:prerequisite/list.html.twig' %}
    {% include 'AppMainBundle:test:editor/starting-page.html.twig' %}
    {% include 'AppMainBundle:test:step/execute/list.html.twig' %}
    {# include 'AppMainBundle:test:editor/behat.html.twig' #}
{% endblock %}

{% block modals %}
    {% include 'AppMainBundle:test:prerequisite/form.html.twig' %}
    {% include 'AppMainBundle:test:step/execute/form.html.twig' %}
    {% include 'AppMainBundle:test:step/control/form.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            TestEditor.init();
            TestEditor.initItem({{ test.id }}, {{ test.prerequisites|length }});
        });
    </script>
{% endblock %}