{% extends 'base.html.twig' %}

{% block jumbotronTitle %}
    <span class="text-mypurple">
        <i class="fontello-icon-ellipsis-vert"></i><strong>Test</strong> Editor
    </span>
{% endblock %}

{% set application = test.testFolder.rootApplication %}

{% block jumbotronBody %}
    <p class="text-center">
        <a href="{{ path('app_index_application_test_planner', { 'id': application.id }) }}">
            <i class="fontello-icon-left-circled"></i>Return to <strong>{{ application.name }}</strong> test plan
        </a>
    </p>
{% endblock %}

{% block breadcrumb_items %}
    <li>
        <a href="{{ path('homepage') }}"><i class="fontello-icon-right-open"></i>Home</a>
    </li>
    <li>
        <a href="{{ path('app_index_project', { 'id': application.project.id }) }}">
            <i class="fontello-icon-right-open"></i>{{ application.project }}</a>
    </li>
    <li>
        <a href="{{ path('app_index_application', { 'id': application.id }) }}">
            <i class="fontello-icon-right-open"></i>{{ application }}</a>
    </li>
    <li>
        <a href="{{ path('app_index_application_test_planner', { 'id': application.id }) }}">
            <i class="fontello-icon-right-open"></i>Test plan</a>
    </li>
    <li class="active">
        <i class="fontello-icon-angle-circled-right"></i>{{ test }}
    </li>
{% endblock %}

{% block body %}
    {% include 'AppMainBundle:test:starting-page.html.twig' with { 'page': test.startingPage } %}
    {% include 'AppMainBundle:test:step/execute/list.html.twig' %}
    {% include 'AppMainBundle:test:step/execute/form.html.twig' %}
    {% include 'AppMainBundle:test:step/control/form.html.twig' %}
    {% if test.startingPage %}
        <p>&nbsp;</p>
        <div class="row">
            <div class="well">
                <samp>{{ test.behatScenario(gherkin)|raw|nl2br }}</samp>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#form_startingPage").change(function() {
                var id = $(this).val();
                updateStartingPage({{ test.id }}, id);
            });
        });
    </script>
{% endblock %}